<h1>發表文章</h1>

<%= link_to "返回看板", board_path(@board) %>

<%= form_with(model: @post, url: board_posts_path(@board), method: "post", local: true) do |form| %>

<div class="fields">
    <%= form.label :title, "標題" %>
    <%= form.text_field :title %>
</div>

<div class="fields">
    <%= form.label :content, "內容" %>
    <%= form.text_area :content %>
</div>

<%= form.submit "發表文章" %>

<% end %>
